services:
  searxng:
    image: docker.io/searxng/searxng:latest
    volumes:
      - "./searxng-config/:/etc/searxng/"
      - searxng:/var/cache/searxng
    ports:
      - "8888:8080"

  openwebui:
    image: ghcr.io/open-webui/open-webui:main-slim
    volumes:
      - open-webui:/app/backend/data
    ports:
      - "3000:8080"
    environment:
      ENABLE_OPENAI_API: True
      OPENAI_API_BASE_URL: http://192.168.1.12:8000/v1
      ENABLE_RAG_WEB_SEARCH: True
      RAG_WEB_SEARCH_ENGINE: "searxng"
      RAG_WEB_SEARCH_RESULT_COUNT: 10
      RAG_WEB_SEARCH_CONCURRENT_REQUESTS: 10
      SEARXNG_QUERY_URL: "http://searxng:8080/search?q=<query>"

volumes:
  searxng:
  open-webui:
